:root{
    --primary: #4200E8;
    --dark: #000039;
    --light: #889EFF;
    --shadow: 0 1px 5px #FFB828;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
h1, h2, h3{
    color: #B2FF34;
    margin: 0;
    padding: 1em 0;
}
p{
    margin: 0;
    padding: 1e, 0;
}
.btn{
    display:inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}
.btn:hover{
    background: #eaeaea;
    color:#333;
}
#showcase{
    min-height: 450px;
    color: #B2FF34;
    text-align: center;
}
#showcase .bg-image
{
    position: absolute;
    background: #333 url('https://images.pexels.com/photos/938963/pexels-photo-938963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 450px;
    z-index: -1;
    opacity: 0.7;
}
#showcase h1{
    padding-top: 100px;
    padding-bottom: 0;
}
#showcase .content-wrap{
    padding: 0 1.5em;
}
#section .content-wrap{
    padding: 0 1.5em;
}
#section-a{
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}
#contentgrid iframe{
    margin-top:23rem;
}
#section-b{
    padding: 2em 1em 1em;
}
#section-b ul{
    list-style: none;
    margin: 0;
    padding:0;
}
#section-b li{
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}
.card-content{
    padding: 1.5em;
}
#section-c{
    background: #999;
    color: #333;
    padding: 2em;
}
#section-d .box{
    padding: 2em;
    color: #fff;
    background: #333;
}
#section-d .box:first-child{
    background: #2690d4;
}
#main-footer{
    padding: 2em;
    background: #000;
    color:#fff;
    text-align: center;
}
#main-footer a{
    color: #2690d4;
    text-decoration: none;
}

@media(min-width:700px){
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2,minmax(auto,25em)) 1fr;
    }
    #sectiona .content-text{
        columns: 2;
        column-gap: 2em;
    }
    #sectiona .content-text p{

        padding-top:0;
    }
    .content-wrap, #section-b ul{
        grid-column: 2/4;
    }
    
    .box, #main-footer div{
        grid-column: span 2;
    }
    #section-b ul{
        display: flex;
        justify-content: space-around;
    }
    #section-b li{
        width: 31%;
    }
}
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(11,1fr);
}
.main-nav a {
background: var(--primary);
display: block;
text-decoration: none;
padding: 0.8rem;
text-align: center;
color: var(--dark);
text-transform: uppercase;
font-size: 1.1rem;
box-shadow: var(--shadow);
}
.main-nav a:hover{
    background: var(--dark);
    color: var(--light);
}